html {
    overflow-x: hidden;
}


@font-face{
    font-family: "Gmarket Sans TTF Bold";
    src: url("fonts/c066fdd8248e28e98522d1b408e5adfa.eot");
    src: url("fonts/c066fdd8248e28e98522d1b408e5adfa.eot?#iefix")format("embedded-opentype"),
        url("fonts/c066fdd8248e28e98522d1b408e5adfa.woff")format("woff"),
        url("fonts/c066fdd8248e28e98522d1b408e5adfa.woff2")format("woff2"),
        url("fonts/c066fdd8248e28e98522d1b408e5adfa.ttf")format("truetype"),
        url("fonts/c066fdd8248e28e98522d1b408e5adfa.svg#Gmarket Sans TTF Bold")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family: 'horizonbold';
    src: url('fonts/horizon-webfont.woff2') format('woff2'),
         url('fonts/horizon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sentexregular';
    src: url('fonts/sentex-regular-webfont.woff2') format('woff2'),
         url('fonts/sentex-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_grotesk_widebold';
    src: url('fonts/hkgroteskwide-bold-webfont.woff2') format('woff2'),
         url('fonts/hkgroteskwide-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

g text {
    font-size:1em;
}

body {
    background-image: url("BG.png");
    background-repeat: no-repeat;
}

h1 {
    color: #FFF;

    text-align: center;
    font-family: "hk_grotesk_widebold";
    font-size: 7.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}

h2 {
    text-align: center;
    font-family: "hk_grotesk_widebold";
    color: white;
    font-size: 3rem;
    margin-top: 0;

}

h3 {
    text-align: center;
    font-family: "hk_grotesk_widebold";
    color: white;
    font-size: 1.5rem;

}


div .year {
    position: relative;
    color: white;
    font-family: "hk_grotesk_widebold";
    font-size: 5rem;
    left: 65%;
    top: 150px;
    z-index: 2;
}

.suivant {
    position: relative;
    left: 91%;
    top: 300px;
    display: block;
    width: 100px;
    height: 100px;
    z-index: 5;
    background-image: url(fleches/suivant.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.precedent {
    position: relative;
    left: 0.5%;
    top: 200px;
    display: block;
    width: 100px;
    height: 100px;
    z-index: 5;
    background-image: url(fleches/precedent.png);
    background-repeat: no-repeat;
    background-size: cover;

}

svg {
    position: relative;
    top: 75%;
}

.container {
    width: 100vw;
    height: 100vh;
    margin-bottom: 25vh;
}

.stats {
    position: fixed;
    position: relative;
    left: 65%;
    top: 10%;
    z-index: 2;
}

.stats p {
    color:white;
    font-size: 1.25em;
    font-family: "hk_grotesk_widebold";
}

.stats p strong {
    color: rgb(255, 169, 236);

}

@media (max-width: 1150px) {
    .stats p {
    font-size: 1em;
    }
 }

 @media (max-width: 800px) {
    .stats p {
    font-size: 0.75em;
    }

    div .year {
        font-size: 3rem;
    }
 }

 @media (max-width : 940px) {
    .stats {   
        left: 60%;
    }

    div .year {
        left: 60%;
    }
 }

 .circle-picture {
    position: relative;
    width: 20%;
    height: 40%;
    left: 5%;
    background: url(logos/valorant.png), -75.12px -67.107px / 138.482% 138.482% no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
 }

 #container-2 {
    background-image: url(barres-titre.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
 }

 .separator {
    position: relative;
    left: 27.5%;
    bottom: 40%;
    width: 1%;
    height: 40%;
    background-color: white;
 }

 #container-2 p {
    position: relative;
    bottom: 77.5%;
    left: 30%;
    width: 60%;
    color: white;
    font-family: "hk_grotesk_widebold";
    font-size: 2rem;
 }